.TeammemberHeading{
    text-align: center;
    background: #161623;
    padding: 2%;
    font-size: 3rem;
    color:white;
}

.container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    background: #161623;
}

.card{
    position:relative;
    width:280px;
    height:370px;
    background: rgba(255,255,255,0.03);
    margin:3%;
    box-shadow: 2px 2px 5px linen;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    flex-direction: column;
}

.card .content{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s ease-in-out;
}

.card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}

.content .imgbox{
    position: relative;
    width: 150px;
    height:150px;
    border-radius: 50%;
    overflow: hidden;
    border:10px solid rgba(0,0,0,0.25);
}

.content .imgbox img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

.contentbox h3{
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    margin-top:10px;
}

.contentbox p{
    font-size: 1.1rem;
    color:white;
    font-weight: 300;
    text-transform: initial;
}

.social{
    display: flex;
}

.social li{
    list-style: none;
    margin:0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}

.card:hover .social li{
    transform: translateY(0px);
    opacity:1;
}

.social li a{
    color:white;
    font-size: 1.4rem;
}

@media only screen and (max-width:670px){
    .card{
        margin:2%;
    }

    .TeammemberHeading{
        font-size: 2rem;
        padding-top:5%;
    }

    .card .content{
        opacity: 1;
    }
}
