.eventbox img{
    width:400px;
    height:200px;
    margin-top:3%;
}

.eventbox{
    text-align: center;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}

.days{
    display: flex;
    justify-content: center;
}

.days button{
    font-size: 1.2rem;
    margin:5% 2%;
    background-color: black;
    color:white;
    padding:0.5% 1%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
}

.days button:hover{
    transform: scale(1.1);
}

.hidden {
    display: none;
  }